html {
  height: 100%;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  background-color: #404043;
  position: static;
}

#map { 
  position: absolute; 
  top: 0; 
  bottom: 0; 
  width: 100%; 
}
  
nav, .page-footer, .dropdown-menu, .dropdown-menu a, .dropdown-menu a:hover {
  background-color:#0b0d0e;
  color:lightgray;
}

.page-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.page-footer, .page-footer a {
  font-size:1rem;
  color: grey;
}

.page-footer a:hover{
  color:white;
}

.footer-copyright {
font-sie:0.8rem;
}


.dropdown-menu a:hover {

  color:white;
}

.card-custom {
  background-color:#0b0d0e;
}

.overlay {
  position: absolute;
  top: 10px;
  left: 10px;
  
  }
    
.overlay button {
  font: 600 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  background-color: #3386c0;
  color: #fff;
  display: inline-block;
  margin: 0;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  
}

.overlay button:hover {
  background-color: #4ea0da;
}
    
.legend {
    margin-left: 20px;
    color: white; 
    position: absolute;
    background-color: rgba(0, 0, 0, 0.40);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
    border-radius: 5px;
    padding: 10px;
    opacity: 80%;
    margin-bottom: 10px;
    bottom: 20px;
    right: 10px;    
    z-index: 1;
    margin-left: 20px;
    color: white;
  }
/* 
  .row {
    height: 12px;
    width: 100%;
  }

  .colors {
    background: linear-gradient(to right, #e3ea09, #1f1033);
    margin-left: 10px;
    width: 340px;
    /* left: 10; */
  }

  .label {
    width: 110%;
    letter-spacing: normal;
    /*text-align: right;*/
    /* left: 0; */
    font-size: 16px;
    color:#fff;
    font-family: 'Helvetica Neue', Helvetica, Arial, Sans-serif;
    cursor: pointer;
  } */
     
.legend h4 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 18px;
}
  
.legend div span {
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin-right: 5px;
  width: 10px;
}


.legendb {
  margin-left: 20px;
  color: white; 
  position: absolute;
  background-color: rgba(0, 0, 0, 0.40);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
  border-radius: 5px;
  padding: 10px;
  opacity: 80%;
  margin-bottom: 10px;
  bottom: 30px;
  right: 10px;    
  z-index: 1;
  margin-left: 20px;
  color: white;
}
  
.legendb h4 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 18px;
}
  
.legendb div span {
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin-right: 5px;
  width: 10px;
}
    